.Phonetic {
  height: 60px;
}

.Phonetic a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 10px;
  margin-right: 10px;
  font-weight: bold;
  transition: all 150ms ease-in-out;
}
.Phonetic a:hover {
  background: #d90026;
  color: white;
}
